###Â **Series**
**Important to note:**
- Series, unlike NumPy, can have axis labels, it can therefore be indexed by a label rather than just a number location.
- It can hold **any** arbitrary Python Object.

In [3]:
import numpy as np
import pandas as pd

### **Creating a Series**
You can convert a list, numpy array, or a dictionary to a Series:

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

**Using lists**

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

**Using arrays**

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [16]:
labels

['a', 'b', 'c']

**Using a dictionary**

In [4]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### **Data in a Series**

In [19]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### **Using an Index**

Pandas make use of index names _or_ numbers by allowing for fask look ups of information like a hash table or dictionary.

In [20]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [21]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [22]:
ser2 = pd.Series([1,2,5,3],['USA','Germany','Italy','Japan'])

In [23]:
ser2

USA        1
Germany    2
Italy      5
Japan      3
dtype: int64

In [24]:
ser1['USA']

np.int64(1)

In [25]:
ser3 = pd.Series(data=labels)

In [27]:
ser3[0]

'a'

In [30]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      7.0
USA        2.0
USSR       NaN
dtype: float64

In [29]:
ser2

USA        1
Germany    2
Italy      5
Japan      3
dtype: int64